.header {
  padding: 2%;
  background-color: #077483;
  font-family: "Papyrus", "Copperplate", Fantasy;
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
}

.dashboard {
  padding: 3% 1%;
}

h1 {
  text-align: center;
}

h2{
  color: #077483;
  font-family: "Garamond", "Times New Roman", Serif;
  font-size: 52px;
}

.row{
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.start-btn {
  background-color: #1a6410;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin: 10px;
  margin-left: 0px;
  width: 30%;
}

.end-btn {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  margin: 10px;
  width: 30%;
}

.log-btn {
  background-color: #077483;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  margin: 10px;
  width: 30%;
}

.mrgnbtm {
  margin-top: 20px;
}

table {
  font-family: 'Open Sans', sans-serif;
  width: 750px;
  border-collapse: collapse;
  border: 3px solid #44475C;
  margin: 10px 10px 0 10px;
}

table th {
  text-transform: uppercase;
  text-align: left;
  background: #44475C;
  color: #FFF;
  padding: 8px;
  min-width: 30px;
}

table td {
  text-align: left;
  padding: 8px;
  border-right: 2px solid #7D82A8;
}
table td:last-child {
  border-right: none;
}
table tbody tr:nth-child(2n) td {
  background: #D4D8F9;
}

.firstTable{
  margin-bottom: 20px;
}
